:root {
  --td-padding: 12px 15px;
}

table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
  max-width: 900px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th {
  color: #ffffff;
  position: sticky;
  top: 0;
  background-color: #009879;
  padding: var(--td-padding);
}

tr {
  border-bottom: 1px solid #dddddd;
}

tr:hover td {
  font-weight: bolder;
  background-color: rgb(213, 213, 213);
}

tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tr:last-of-type {
  border-bottom: 2px solid #009879;
}

td {
  padding: 0;
}

td:first-child {
  width: 100px;
}

td:last-child {
  width: 82px;
}

/* button text is centered by default. Disable default for everything except thumbtacks */
:not(td:last-child) {
  text-align: start;
}

button {
  padding: var(--td-padding);
  width: 100%;
  height: 55px;
  background-color: transparent;
  border: none;
}
